* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #EEE;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #EEE;
    z-index: 10;
    overflow: auto;
}

.overlayContent {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
}

.styled-select {
    padding: 0.5rem 1rem;
    width: 300px;
    height: 3rem;
    border-radius: 0.7rem;
    border: none;
    background-color: #fff;
}

.higher {
    height: 8rem;
}

.wider {
    width: 100% !important;
    margin-top: 1rem !important;
}

.left-position {
    margin-left: 5vw !important;
}

@media (min-width: 700px) {
    .overlay {
        border-radius: 1rem;
        height: 90%;
        width: 25rem;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }


}